.main{
width: 390px;
height: 450px;
padding-top: 10px;
border-radius: 7%;
background-image: linear-gradient(	#231F20, lightgrey);
margin-left: 400px;
border-style:ridge ;





}
.all{
    background-image: url("images/—Pngtree—data\ the\ internet\ cloud\ network_926213.jpg");
width:100%;
height: 625px;
padding-left: 20px;
padding-top: 102px;
outline: 0px;
border-spacing: 1px;



}
#out{
    width: 80%;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: none;
    background-color:whitesmoke;
    font-weight: bold;
    color: black;
}

.btn {
    width: 55px;
    height: 52px;
    background-color: blanchedalmond;
    border-radius: 60%;
    margin-left: 31px;
    margin-top: 1px;
    font-size: large;
    font-style: italic;
}

.btnop {
    width: 57px;
    height: 43px;
background-color: rgb(245, 181, 63);
    border-radius: 60%;
    margin-left: 31px;
    margin-top: 20px;
    font-size: large;
    font-style: italic;
}
